.admin-header {
  height: auto;
  width: 100vw;
  display: grid;
  background: #121212;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 30px 90px;
  grid-gap: 30px;
}
.orders-row {
  padding: 30px 130px;
  width: 100vw;
  background: #121212;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.admin-button {
  width: 100%;
  margin: auto;
  padding: 8px 100px;
  background-color: #febd2f;
  color: #173334;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  border: 0.01rem solid #315636;
}
.admin-button:hover {
  background-color: #173334;
  color: #febd2f;
  border: 0.01rem solid #febd2f;
}
@media only screen and (max-width: 800px) {
  .admin-header,
  .orders-row {
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  .admin-button {
    width: 100%;
    padding: 6px 30px;
  }
}
